.paddingBottom{
	padding-bottom:10px;
}

.blackText{
	color:black !important;
};

.offsetBottom{
	position:relative !important;
	bottom:4px;
};

.lightBorder{
	border:1px solid lightgray;
}

.paddingAll{
	padding:10px;
}

.form-group{
	margin-bottom: 25px;
}

.hidden{
	display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

#map {
    height: 100%;
  }

.active {
	font-weight: bolder;
	background-color: white !important;
	box-shadow: none !important;
	-webkit-box-shadow:none !important;
}